{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}
 {{ pimcore_head_title("Faculties") }}
{% block body %}
    {% include 'header.html.twig' %}


    {% block content %}
        <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>
        <p>{{ pimcore_input("faculties") }}</p>

        <div class="faculty-info">
            {% for i in pimcore_block('faculty').iterator %}
                {% if editmode %}
                    {{ pimcore_relation("faculty") }}
                {% else %}
                    {% set faculty = pimcore_relation("faculty").element %}
                    {% if faculty %}
                        {% if faculty.faculty is not null %}
                            {% for facultyItem in faculty.faculty.items %}
                                <h2>{{ facultyItem.firstname }} {{ facultyItem.lastname }}</h2>
                                <p><strong>Gender: </strong>{{ facultyItem.gender }}</p>
                                <p><strong>Designation: </strong>{{ facultyItem.designation }}</p>
                                <p><strong>Email: </strong>{{ facultyItem.email }}</p>
                                <p><strong>Joined Date: </strong>{{ facultyItem.joined }}</p>
                                <p><strong>Department: </strong>{{ facultyItem.department }}</p>
                                {% if facultyItem.active %}
                                    <p>Status: Active</p>
                                {% else %}
                                    <p>Status: Inactive</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <section id="campaign_video">
            {{ pimcore_video('campaignVideo', {
                width: 700,
                height: 400
            }) }}
        </section>

    {% endblock %}


    {{ pimcore_snippet("mySnippet", {"width": 250, "height": 100}) }}

{% endblock %}
